

.WikiDoorCrown div{
    width: 15px;
    height: 15px;
    position: relative;
    background-color: #dd2b2b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 2px;
    border-style: solid;
    border-color: #701515;
}


.WikiDoorFrame:hover .WikiDoorDoor{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-45deg);
}


.door1 {
    background-image: url(../images/door1.png);
}

.door2 {
    background-image: url(../images/door2.png);
}